<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input [(ngModel)]="email" type="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Senha</ion-label>
    <ion-input [(ngModel)]="senha" type="password"></ion-input>
  </ion-item>

  <div *ngIf="erroMsg" style="color: red; margin-top: 8px;">
    {{ erroMsg }}
  </div>

  <ion-button expand="block" (click)="login()" style="margin-top: 16px;">
    Entrar
  </ion-button>

  <p style="text-align: center; margin-top: 16px;">
  Ainda não tem uma conta?
  <a routerLink="/cadastro">Cadastre-se aqui</a>
</p>

</ion-content>
