ion-item.margen {
    margin-bottom: 12px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  }

  ion-thumbnail img {
    border-radius: 8px;
    object-fit: cover;
  }

  #map {
  width: 100%;
  height: 200px;
  margin: 20px auto;
  border: 2px solid #ccc;
  border-radius: 10px;
  overflow: hidden; 
}

.menu-lateral{
  display: block;
  width: 100%;
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  margin: 8px 10px 0px 8px;
}

.menu-lateral:hover{
  background-color: aqua;
}

.user-id {
  font-weight: bold;
  margin-right: 0; /* sem margem */
  white-space: nowrap;
  text-align: right;
  margin-bottom: 10px;
}
