<ion-menu side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">

    <ion-list>

      <div class="user-id">ID:{{ usuarioIdCurto }}</div>

      <ion-item button>
        <ion-icon name="home-outline" slot="start"></ion-icon>
        <ion-label >Menu</ion-label>
      </ion-item>
      <ion-item button>
        <ion-icon name="call-outline" slot="start"></ion-icon>
        <ion-label>Numero</ion-label>
      </ion-item>

      
    </ion-list>

    <ion-card *ngFor="let item of itensAdicionados" style="margin-bottom: 16px; box-shadow: 0 4px 10px rgba(0,0,0,0.1); border-radius: 12px;">
      <ion-card-header>
        <ion-card-title style="font-size: 1.2em;">{{ item.nome }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p style="margin: 4px 0;">Preço unitário: <strong>R$ {{ item.precoUnit.toFixed(2).replace('.', ',') }}</strong></p>

        <div style="display: flex; align-items: center; justify-content: center; gap: 8px; margin: 12px 0;">
          <ion-button fill="outline" size="small" color="primary" shape="round" (click)="decrementarQuantidade(item)">−</ion-button>
          <span style="font-weight: bold; font-size: 1.2em;">{{ item.quantidade }}</span>
          <ion-button fill="outline" size="small" color="primary" shape="round" (click)="incrementarQuantidade(item)">+</ion-button>
        </div>

        <p style="margin: 4px 0;">Total: <strong>R$ {{ item.total.toFixed(2).replace('.', ',') }}</strong></p>

        <div style="text-align: right;">
          <ion-button fill="clear" color="danger" size="small" (click)="removerItem(item)">
            <ion-icon name="trash-outline" slot="start"></ion-icon>
            Remover
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>

    <div style="text-align: right; margin-top: 20px; font-weight: bold; font-size: 1.3em;">
      Total Geral: R$ {{ totalGeralFormatado() }}
    </div>

     <ion-footer><ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="logout()">Logout</ion-button>
    </ion-buttons>
  </ion-toolbar>
  </ion-footer>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding" [scrollEvents]="true"
    (ionScrollStart)="handleScrollStart($event)"
    (ionScroll)="handleScroll($event)"
    (ionScrollEnd)="handleScrollEnd($event)">

    <div style="text-align: center; margin-bottom: 16px;">
      <img src="assets/images/restaurante.png" alt="Banner" style="max-width: 100%; border-radius: 12px; box-shadow: 0 4px 12px rgba(0,0,0,0.1);" >
    </div>

    <ion-searchbar
      [(ngModel)]="busca"
      placeholder="Buscar item..."
      style="width: 90%; margin: auto; border-radius: 20px;">
    </ion-searchbar>

    <p>Itens visíveis: {{ itensFiltrados.length }}</p>

    <ion-list>
      <ion-item
        button
        class="margen"
        *ngFor="let item of itensFiltrados"
        lines="inset"
        detail
        (click)="navegarPara(item.nome)">

        <ion-thumbnail slot="start">
          <img [src]="item.img" [alt]="item.nome" />
        </ion-thumbnail>

        <ion-label>
          <h2>{{ item.nome }}</h2>
          <p>{{ item.descricao }}</p>
          <p style="color: green; font-weight: bold;">{{ item.preco }}</p>
        </ion-label>

      </ion-item>
    </ion-list>

    <div id="map"></div>

    <ion-button routerLink="/feed">Ver Feed</ion-button>


  </ion-content>
</div>
